h1{
    font-family: 'Permanent Marker';
    font-size: 100px;
    color: #D8DF4B;

}
img{
    height: 50vh;
    border-radius: 100%;
    scale: 100%;
    border: solid 10px #D8DF4B;
    /* box-shadow: 15px 3px 15px 2px black; */

}


.mob{

}
